# Functions

A function is a block of organized, reusable code. Functions provide better modularity for your application and a high degree of code reusing. In addition, they also make your code more readable, as they keep the **main code** simple by assigning tasks to auxiliary funtions. 

We already know many of Python's built-in functions like _input()_, _max()_, _float()_, etc., and in this chapter we will learn how to create our own functions. These functions are called **user-defined functions**.

## Basics

A function receives **input arguments** and **returns** some **output** based on them. Both the input and the output can in general contain zero arguments, for example the function _print_ returns no argument, and the list method _pop()_ may be called without an input argument (for this chapter we will not distinguish between functions and methods). The terminology for using a function is to _call_ it.

Every function definition starts with a **signature**, containing the prefix **def** followed by the name of the function and parentheses, in which the input arguments are listed. Then, following a colon and an indentation, the function **block** is written, possibly containing a **return** statement(s).

The following function adds the input arguments _x_ and _y_ and return their "sum".

In [1]:
def add_items(x, y):
    total = x + y
    return total

Now the function _add_\__items()_ can be called during the execution of the main code.

In [2]:
a = 3
b = 5
c = add_items(a, b)
print(c)

8

We note that since Python is a dynamic language, which does not require pre-assignment of data types, the input of _add_\__items()_ may be of any type, as long as the '_+_' sign is appropriate.

In [3]:
a = 'inter'
b = 'national'
c = add_items(a, b)
print(c)

international

> #### Note 
> In the example above the main code has variables _a_ and _b_, while the function renames them **locally** as _x_ and _y_. Understanding the relationship between the outer variables and their local counterparts is quiet complicated and we will not cover it here. However, we should remember that if the variables are **mutable**, then changing the local variables makes the change in the outer variables.

The _return_ statement can return more than a single value by separating the output values with commas. However, the entire output is considered a single _tuple_, and may be unpacked by the caller.

In [4]:
def add_and_multiply(x, y):
    return x+y, x*y

In [5]:
ans = add_and_multiply(4.3, 1.35)
print(ans)

total, product = add_and_multiply(4.3, 1.35)
print(total, product)

(5.65, 5.805)
5.65 5.805

The _return_ statement aborts the function instantly (similar to _break_). This allows the coexistence of several _return_ statements in a single function.

In [6]:
def count_the_vowels(sentence):
    num_of_vowels = len([ch for ch in sentence if ch in 'aeiou'])
    if num_of_vowels < 13:
        return "not many"
    if num_of_vowels > 13:
        return "many"

In [7]:
truth = "The return statement may appear more than once in a single function."
print("There are {} vowels in the sentence.".format(count_the_vowels(truth)))

There are many vowels in the sentence.

A function cannot returns anything, so even if the _return_ statement was not encountered during execution, a _None_ is returned.

In [8]:
print(count_the_vowels("There are exactly 13 vowels in this sentence!"))

None

### Example

Write a function with a list of strings as input, that returns the longest string in the list as output. Use it after completion.

In [9]:
def get_longest_word(x):
    longest_word = ''
    for word in x:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

In [10]:
my_list = "Logic will get you from A to B. Imagination will take you everywhere. (Albert Einstein)".split()
longest_word = get_longest_word(my_list)
print(longest_word)

Imagination

Functions can be, and very often are, **chained**, nmely call to one another. This allows the separation of large functionalities into smaller and smaller bits.

### Example

* Write a function that receives an integer and returns a Boolean indicating whether the integer is a prime number.
* Write a script that asks the user for an integer and finds the nearest prime to that integer.

#### Part 1

In [11]:
def is_prime(n):
    for k in range(2, int(n**0.5)+1):
        if n % k == 0:
            return False
    return True

In [12]:
print(is_prime(101))

True

#### Part 2

In [13]:
def get_nearest_prime(n):
    dist = 0
    while True:
        if is_prime(n - dist):
            return n - dist
        elif is_prime(n + dist):
            return n + dist
        dist += 1

In [14]:
n = int(input("What is your integer?\n"))
p = get_nearest_prime(n)
print(f"\n{p} is the closest prime to {n}")

What is your integer?
12345

12343 is the closest prime to 12345

## Arguments

A function can have any number of input arguments as long as it "knows" what to do with each one of them. We've already saw the most straight-forward way of naming each one of the arguments and expect the exact same number of arguments. In this chapter we will see some advanced methods for specifying required arguments.

### Default values

When defining a function, it is possible to give default values to its arguments, so that if the user does not specify them, the function will use the default values.

#### Example

The function _show_\__summary(lst, n_\__start, n_\__stop)_ prints the first _n_\__start_ and last _n_\__end_ elements of _lst_. If the user does not specify how many elements he would like to see, then a defaul of three at each end is applied.

In [15]:
def show_summary(lst, n_start=3, n_end=3):
    if len(lst) < n_start + n_end:
        print(lst)
    else:
        print("[", end=' ')
        for i in range(n_start):
            print(lst[i], end=' ')
        print('...', end=' ')
        for i in reversed(list(range(n_end))):
            print(lst[-i-1], end=' ')
        print("]")

In [16]:
my_list = ['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
show_summary(my_list)
# show_summary(my_list, 4, 2)
# show_summary(my_list, 5)
# show_summary(my_list, n_end=5)

[ a b c ... 3 4 5 ]

#### Example

_guys_ is a list of tuples of the form (name, gender, age) (An examplary list of guys is given).

The function _count_\__guys(guys, gender='all', min_\__age=0, max_\__age=120)_ should count relevant guys from _guys_. _gender_ can be one of {'all', 'm', 'f'}, and _min_\__age_ and _max_\__age_ represent the minimal and maximal ages to be counted.

In [17]:
guys = [('Avi', 'm', 24), ('Betty', 'f', 25), ('Carl', 'm', 22),
        ('David', 'm', 45), ('Edward', 'm', 31), ('Frittata', 'f', 28)]

In [18]:
def count_guys(guys, gender='all', min_age=0, max_age=120):
    guys2 = [guy for guy in guys if min_age <= guy[2] <= max_age]
    if gender == 'all':
        return len(guys)
    else:
        return len([guy for guy in guys2 if guy[1] == gender])

In [19]:
print(count_guys(guys)) 
# print(count_guys(guys, 'm'))
# print(count_guys(guys, 'm', 20, 40))
# print(count_guys(guys, 'f', 30))
# print(count_guys(guys, 'f', max_age=30))
# print(count_guys(guys, max_age=30))

6

## Lambda functions

### functions are objects, too

Before we speak about lambda functions it is importamnt to understand that functions, like anything else in Python, are objects. To illustarte that, we can see that a function can be assigned to a variable just like a number or a string.

In [20]:
def square(x):
    return x**2

my_func = square

_square()_ is a function, defined regularly, and the variable _my_\__func_ is a variable holding the function _square()_, and they are completely equivalent.

In [21]:
print(type(square))
print(type(my_func))

<class 'function'>
<class 'function'>

Moreover, they perform the same functionality.

In [22]:
print(square(5))
print(my_func(5))

25
25

> **NOTE:** It should be noted that functions have different meanings with and without parenthesis. The parenthesis are used when a function is actually called, and they are removed when the function is referred to as an object. This will be much more clear later in this chapter, when we'll see functions that get other functions as arguments.

#### Example

Let's write a function (*shazam(s, func)*) that applies the function *func* to the string *s*.

In [23]:
def glue(s):
  return ''.join(s.split())

def duplicate(s):
  return ''.join([2*ch for ch in s])

def flip(s):
  return s[::-1]

In [24]:
def shazam(s, f):
  return f(s)

In [25]:
print(shazam('My name is Amit', duplicate))

MMyy  nnaammee  iiss  AAmmiitt

### Lambda functions

First, we need to understand that the lambda syntax is simply another way, though restricted to a single line, for defining a function in Python. The advantage of lambda functions lies in their single-line syntax, which supports using a function "on the fly", and We will see later where exactly this syntax is _preferred_. However, we should remember that it does exactly the same.

#### Syntax

The functions _f1()_ and _f2()_ are exactly the same.

In [26]:
def f1(x):
    return 2*x + 1

f2 = lambda x: 2*x + 1

In [27]:
print(f1(4))
print(f2(4))

9
9

## Built-in functions

Python includes many function as part of its core capabilities. Their implementation is very efficient, so it is highly advisable to use them when possible. The entire list of built-in functions is documented [here][Built-in functions], but here are some examples:

* **General utiliy**:  _map()_, _zip()_, _sorted()_, _all()_, _any()_, _enumerate()_, _filter()_, etc.
* **Conversion**: _int()_, _str()_, _list()_, _dict()_, _unicode()_, etc.
* **Math**: _abs()_, _min()_, _max()_, _sum()_, etc.
* **Object-Oriented**: _isinstance()_, _hasattr()_, _delattr()_, _classmethod()_, etc.

In this chappter we will discuss the general utility functions mentioned.

[Built-in functions]: https://docs.python.org/2/library/functions.html "Built-in functions documentation"

### _map(function, iterable[, iterable...])_

The function [_map(function, iterable[, iterable...])_][map] applies _function_ to every item of _iterable_ and returns a list of the results. If additional iterable arguments are passed, _function_ must take that many arguments and is applied to the items from all iterables in parallel.

[map]: https://docs.python.org/2/library/functions.html#map "map() documentation"

#### Example 8

In the game '7-boom' the players count loudly the numbers from 1 and up, but if the number is divisible by 7 or contains the digit 7 they say 'Boom' instead. Generate the first _n_ calls of the game.

In [28]:
def call_7_boom(i):
    if (i % 7 ==0) or '7' in str(i):
        return 'Boom'
    else:
        return i

In [29]:
n = 100
results = list(map(call_7_boom, range(1, n+1)))
print(results)

[1, 2, 3, 4, 5, 6, 'Boom', 8, 9, 10, 11, 12, 13, 'Boom', 15, 16, 'Boom', 18, 19, 20, 'Boom', 22, 23, 24, 25, 26, 'Boom', 'Boom', 29, 30, 31, 32, 33, 34, 'Boom', 36, 'Boom', 38, 39, 40, 41, 'Boom', 43, 44, 45, 46, 'Boom', 48, 'Boom', 50, 51, 52, 53, 54, 55, 'Boom', 'Boom', 58, 59, 60, 61, 62, 'Boom', 64, 65, 66, 'Boom', 68, 69, 'Boom', 'Boom', 'Boom', 'Boom', 'Boom', 'Boom', 'Boom', 'Boom', 'Boom', 'Boom', 80, 81, 82, 83, 'Boom', 85, 86, 'Boom', 88, 89, 90, 'Boom', 92, 93, 94, 95, 96, 'Boom', 'Boom', 99, 100]

Usually _function_ is specified in lambda form. Also, *map()* can take more than a single iterable.

### Example

You are given two lists of the same length of words. For each pair of words, find the number of their common letters.

In [30]:
sentence = '"Don\'t let what you cannot do interfere with what you can do." (John Wooden)'.split()
words1 = sentence[:7]
words2 = sentence[7:]

print('\t'.join(words1))
print('\t'.join(words2))

"Don't	let	what	you	cannot	do	interfere
with	what	you	can	do."	(John	Wooden)

In [31]:
list(map(lambda w1, w2: len(set(w1) & set(w2)), words1, words2))

[1, 1, 0, 0, 1, 1, 2]

### _zip(iterable, iterable, ...)_

This function [_zip()_][zip] returns a **list of tuples**, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. It is called _zip_ because it "zips" (from zipper) the iterables into a single iterable.

[zip]: https://docs.python.org/2/library/functions.html#zip "zip() documentation"

In [32]:
students = {'Andy': ('m', 51), 'Brad': ('f', 34), 'Craig': ('m', 25), 'Dan': ('m', 36)}

In [33]:
names = list(students.keys())
ages = [students[name][1] for name in names]
genders = [students[name][0] for name in names]
print(names, "\n", ages, "\n", genders)

['Andy', 'Brad', 'Craig', 'Dan']
 [51, 34, 25, 36]
 ['m', 'f', 'm', 'm']

In [34]:
zipped_students = list(zip(names, ages, genders))
zipped_students

[('Andy', 51, 'm'), ('Brad', 34, 'f'), ('Craig', 25, 'm'), ('Dan', 36, 'm')]

In [35]:
list(zip(*[('Craig', 25, 'm'), ('Dan', 36, 'm'), ('Andy', 51, 'm'), ('Brad', 34, 'f')]))

[('Craig', 'Dan', 'Andy', 'Brad'), (25, 36, 51, 34), ('m', 'm', 'm', 'f')]

### _sorted(iterable, key, reverse)_

The function [sorted(iterable, key, reverse)][sorted] returns a list with the elements of _iterable_ sorted by the key defined by the _key_ function and displayed in reverse order if the Boolean _reverse_ is _True_.


[sorted]: https://docs.python.org/2/library/functions.html#enumerate "sorted() documentation"

#### Lexicographic order

If _key_ is not defined, then the standard lexicographic order is applied. The _reverse_ argument specifies whether the items should be displayed in reverse order.

In [36]:
students = {'Andy': ('m', 51), 'Brad': ('m', 34), 'Craig': ('m', 25), 'Dan': ('m', 36),
            'Elaine': ('f', 36), 'Fiona': ('f', 36), 'George': ('m', 41), 'Herbert': ('m', 23),
            'Isabel': ('f', 27), 'Jerry': ('m', 19), 'Kramer': ('m', 42), 'Lena': ('f', 22)}

In [37]:
names = list(students.keys())
print(sorted(names))
print(20 * ' * ~')
print(sorted(names, reverse=True))

['Andy', 'Brad', 'Craig', 'Dan', 'Elaine', 'Fiona', 'George', 'Herbert', 'Isabel', 'Jerry', 'Kramer', 'Lena']
 * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~
['Lena', 'Kramer', 'Jerry', 'Isabel', 'Herbert', 'George', 'Fiona', 'Elaine', 'Dan', 'Craig', 'Brad', 'Andy']

If the elements of _iterable_ are iterables themselves, then the lexicographic order will be applied to their first element, then to their second, and so on.

In [38]:
details = list(students.values())
print(sorted(details))

[('f', 22), ('f', 27), ('f', 36), ('f', 36), ('m', 19), ('m', 23), ('m', 25), ('m', 34), ('m', 36), ('m', 41), ('m', 42), ('m', 51)]

#### The _key_ function

_key_ is an auxiliary **function** that defines the "key" of the elements, according to which we sort them. Most of the times this function is in a lambda function form.

In [39]:
students = {'Andy': ('m', 51), 'Brad': ('m', 34), 'Craig': ('m', 25), 'Dan': ('m', 36),
            'Elaine': ('f', 36), 'Fiona': ('f', 36), 'George': ('m', 41), 'Herbert': ('m', 23),
            'Isabel': ('f', 27), 'Jerry': ('m', 19), 'Kramer': ('m', 42), 'Lena': ('f', 22)}

In [40]:
sorted_by_age = sorted(students, key=lambda name: students[name][1])
print(sorted_by_age)

['Jerry', 'Lena', 'Herbert', 'Craig', 'Isabel', 'Brad', 'Dan', 'Elaine', 'Fiona', 'George', 'Kramer', 'Andy']

In [41]:
sorted_by_name_length = sorted(students, key=lambda name: len(name))
print(sorted_by_name_length)

['Dan', 'Andy', 'Brad', 'Lena', 'Craig', 'Fiona', 'Jerry', 'Elaine', 'George', 'Isabel', 'Kramer', 'Herbert']

> **Your turn:** Explore the functions `all()`, `any()`,  `enumerate()` & `filter()`

### _all(iterable)_ and _any(iterable)_

The function [_all(iterable)_][all] returns _True_ if all the elements of _iterable_ are _True_, and the function [_any(iterable)_][any] returns _True_ if any of the elements of _iterable_ are _True_.


[all]: https://docs.python.org/2/library/functions.html#all "all() documentation"
[any]: https://docs.python.org/2/library/functions.html#any "any() documentation"

In [42]:
students = {'Andy': ('m', 51), 'Brad': ('m', 34), 'Craig': ('m', 25), 'Dan': ('m', 36),
            'Elaine': ('f', 36), 'Fiona': ('f', 36), 'George': ('m', 41), 'Herbert': ('m', 23),
            'Isabel': ('f', 27), 'Jerry': ('m', 19), 'Kramer': ('m', 42), 'Lena': ('f', 22)}
ages = [age for sex, age in list(students.values())]

In [43]:
print(all([age >= 18 for age in ages]))
print(all([age >= 30 for age in ages]))

True
False

In [44]:
print(any([age >= 50 for age in ages]))
print(any([age >= 60 for age in ages]))

True
False

### _enumerate(iterable, start)_

The function [_enumerate(iterable, start)_][enumerate] generates a list of tuples of the form _(i, element)_, where _i_ is the index of the element _element_ within _iterable_, starting to count from _start_, which equals 0 by default.

the following two scripts demonstrate the (minor) advantage of using _enumerate()_.

[enumerate]: https://docs.python.org/2/library/functions.html#enumerate "enumerate() documentation"

In [45]:
students = {'Andy': ('m', 51), 'Brad': ('m', 34), 'Craig': ('m', 25), 'Dan': ('m', 36),
            'Elaine': ('f', 36), 'Fiona': ('f', 36), 'George': ('m', 41), 'Herbert': ('m', 23),
            'Isabel': ('f', 27), 'Jerry': ('m', 19), 'Kramer': ('m', 42), 'Lena': ('f', 22)}

In [46]:
counter = 1
for name, (gen, age) in list(students.items()):
    gender = 'male' if gen == 'm' else 'female'
    print("{:2}: {:7} is a {}-year old {}".format(counter, name, age, gender))
    counter += 1

 1: Andy    is a 51-year old male
 2: Brad    is a 34-year old male
 3: Craig   is a 25-year old male
 4: Dan     is a 36-year old male
 5: Elaine  is a 36-year old female
 6: Fiona   is a 36-year old female
 7: George  is a 41-year old male
 8: Herbert is a 23-year old male
 9: Isabel  is a 27-year old female
10: Jerry   is a 19-year old male
11: Kramer  is a 42-year old male
12: Lena    is a 22-year old female

In [47]:
for counter, (name, (gen, age)) in enumerate(list(students.items()), 1):
    gender = 'male' if gen == 'm' else 'female'
    print("{:2}: {:7} is a {}-year old {}".format(counter, name, age, gender))

 1: Andy    is a 51-year old male
 2: Brad    is a 34-year old male
 3: Craig   is a 25-year old male
 4: Dan     is a 36-year old male
 5: Elaine  is a 36-year old female
 6: Fiona   is a 36-year old female
 7: George  is a 41-year old male
 8: Herbert is a 23-year old male
 9: Isabel  is a 27-year old female
10: Jerry   is a 19-year old male
11: Kramer  is a 42-year old male
12: Lena    is a 22-year old female

It is adventagous to use _enumerate()_ when you have something to do with the index of the item, e.g. call another object.

#### Iterator objects

_enumerate()_ does not actually create a list of tuples as expected, but rather an **iterator** object called _enumerate_. We do not cover this topic in the course, but it should be noted that such an object can be used within a _for_-loop, otherwise it requires the funciton _list()_ to access its elements.

In [48]:
print(type(enumerate(students)))

<class 'enumerate'>

In [49]:
print(enumerate(students))

<enumerate object at 0x0000023D0D926510>

In [50]:
print(list(enumerate(students)))

[(0, 'Andy'), (1, 'Brad'), (2, 'Craig'), (3, 'Dan'), (4, 'Elaine'), (5, 'Fiona'), (6, 'George'), (7, 'Herbert'), (8, 'Isabel'), (9, 'Jerry'), (10, 'Kramer'), (11, 'Lena')]

Comparing the following two implementation, we see that they have the same result, but the second one unnecessarily creates a list.

In [51]:
for x in enumerate(students):
    print(x, end=' ')

(0, 'Andy') (1, 'Brad') (2, 'Craig') (3, 'Dan') (4, 'Elaine') (5, 'Fiona') (6, 'George') (7, 'Herbert') (8, 'Isabel') (9, 'Jerry') (10, 'Kramer') (11, 'Lena')

In [52]:
for x in list(enumerate(students)):
    print(x, end=' ')

(0, 'Andy') (1, 'Brad') (2, 'Craig') (3, 'Dan') (4, 'Elaine') (5, 'Fiona') (6, 'George') (7, 'Herbert') (8, 'Isabel') (9, 'Jerry') (10, 'Kramer') (11, 'Lena')

### _filter(function, iterable)_

The function [_filter(function, iterable)_][filter] constructs a list from those elements of _iterable_ for which _function_ returns _True_. It should be noted that _filter(function, iterable)_ is completely equivalent to the following list comprehension: **[_item_ for _item_ in _iterable_ if _function(item)_]**

[filter]: https://docs.python.org/2/library/functions.html#filter "filter() documentation"

#### Example 1

Write a function that returns a list of the prime numbers between two intergers - _m_ and _n_.

In [53]:
def is_prime(n):
    for k in range(2, int(n**0.5)+1):
        if n % k == 0:
            return False
    return True

def list_primes(m, n):
    return list(filter(is_prime, range(m, n + 1)))

In [54]:
print(list_primes(10, 20))

[11, 13, 17, 19]

Usually _function_ is specified in lambda form.

#### Example 7

Derive the following lists from _students_:
* Only the female students
* Only the students that are younger than 25

In [55]:
students = {'Andy': ('m', 51), 'Brad': ('m', 34), 'Craig': ('m', 25), 'Dan': ('m', 36),
            'Elaine': ('f', 36), 'Fiona': ('f', 36), 'George': ('m', 41), 'Herbert': ('m', 23),
            'Isabel': ('f', 27), 'Jerry': ('m', 19), 'Kramer': ('m', 42), 'Lena': ('f', 22)}

In [56]:
females = [student for student in students.items() if student[1][0] == 'f']
print(females)

[('Elaine', ('f', 36)), ('Fiona', ('f', 36)), ('Isabel', ('f', 27)), ('Lena', ('f', 22))]

In [57]:
young = [student for student in students if students[student][1] < 25]
print(young)

['Herbert', 'Jerry', 'Lena']

Note that _filter_ uses an iterable, so we can iterate either the keys or the items of the dictionary _students_.