# Extra Exrecises

# List

## Exercise 1



1.   Write a Python program to get the smallest number from a list.
2.   Write a Python program to get the largest number from a list.
3. Write a Python program to sum all the items in a list.
4. Write a Python program to average all the items in a list.



```
nums= [2,12,22,14,5,6,8,13]
```

## Exercise 2

Write a Python program to print a specified list after removing the 0th, 1th and 3th elements.

In [19]:
list_value = ['Avi','Dani','Moshe','Ran','Arie','Dima','Shay','Eli']

# Tuple

## Exercise 1




1.   Write a Python script to create a tuple with different data types, your age and your name in lowercase.
2.   add to age in tuple 1 year.
3. add to tuple your contry in lowercase.
4. print the tuple
5. replace the first letter in county ,name to uppercase.
6. print the tuple.

## Exercise 2

1. Create tuple with 6 cities in Israel.
2. Remove the 3th from the tuple
3. Remove the last value from the tuple

# Dictionary

## Exercise 1

1. Add tyler to students list
2. add grade for Lloyd in tests 95.0
3. remove for Lloyd the 0th test in tests.
4. what is the avg. in tests for any student?
5. what is the max grade in homework for Alice Student?
6. what is thw max grade in homework for all students?

In [20]:
Students = [ {
  "name": "Lloyd",
  "homework": [90.0,97.0,75.0,92.0],
  "quizzes": [88.0,40.0,94.0],
  "tests": [75.0,90.0]
},
{
  "name": "Alice",
  "homework": [100.0, 92.0, 98.0, 100.0],
  "quizzes": [82.0, 83.0, 91.0],
  "tests": [89.0, 97.0]
}]
tyler = {
  "name": "Tyler",
  "homework": [0.0, 87.0, 75.0, 22.0],
  "quizzes": [0.0, 75.0, 78.0],
  "tests": [100.0, 100.0]
}

# Sets

## Exercise 1

1.   Return a set of identical items from a given two Python set
2.   Returns a new set with all items from both sets by removing duplicates
3. Given two Python sets, update first set with items that exist only in the first set and not in the second set.
4.  Remove 10, 20, 30 elements from a following set at once
5. Return a set of all elements in either A or B, but not both

In [23]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}